body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #333333;
  font-size: 100%;
  font-family: Arial, sans-serif;
  color: #cfcfcf;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 2rem;
  font-weight: bold;
}

p {
  font-size: 1rem;
}

a {
  color: #ffffff;
  text-decoration: underline;
}
a:hover {
  color: #c73636;
  text-decoration: underline;
}

.fill {
  width: 100%;
  height: 100%;
}

.flex-row, .flex-column {
  display: flex;
  flex-wrap: wrap;
}
.flex-row .flex-row, .flex-column .flex-row {
  flex-direction: row;
}
.flex-row .flex-column, .flex-column .flex-column {
  flex-direction: column;
}
.flex-row > div, .flex-column > div {
  flex: 1;
}

.landing-logo {
  width: 50vmin;
  height: 50vmin;
}

.pad-10 {
  padding: 10%;
}

.center {
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
}

.theme-1 {
  background-color: #222222;
}

.theme-2 {
  background-color: #444444;
}